.contenedorPaisSolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fefefe;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    background-color: rgb(228, 228, 228);
}

.contenedorPaisSolo img {
    width: 30%;
    height: auto;
    margin-bottom: 15px;
    margin-top: px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.infoPais {
    text-align: center;
    width: 100%;
    padding: 15px;
}

.infoPais h3 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #001121;
    text-shadow: 1px 1px 2px rgba(0, 21, 255, 0.7);
}

.infoPais p {
    margin: 10px 0;
    font-size: 18px;
}