body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#nav {
    width: 100%; 
    height: 80px; 
    background-color: #00458b; 
    display: flex;
    align-items: center; 

}

.logo img {
    width: 70px; 
    height: auto; 
    border-radius: 20%;
    margin-left: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    display: flex;
    flex-grow: 1; 
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px; 
}

nav ul a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 15px;
}

nav ul a:hover {
    background-color: rgb(68, 199, 247);
    color: black;
    border-radius: 20px;
}


h2 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

form p {
    text-align: center;
}

label {
    /*display: block;*/
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="email"],
input[type="password"]
{
    width: 100%;
    padding: 8px;
    margin-bottom: 0;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(142, 142, 149);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

#contenedorPagina{
    margin: 0 5%;
    padding: 20px;
    padding: 20px;
    width: calc(100% - 200px);
}

#contenedorPaises {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contenedorPais {
    width: calc(15% - 20px);
    height: 380px;
    margin: 20px 10px 40px 10px;
    padding: 10px;
    position: relative;
    float: left;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.582);
    overflow: auto;
    background-color: rgba(159, 169, 175, 0.522);

}

#contenedorPais img {
    width: 80%;
    height: 100px;
    display: block;
    transition: transform 0.3s;
    border-radius: 20px;
    margin-bottom: 20px;
    min-height: 100px;
    margin: auto;
}

#contenedorPais:hover img {
    transform: scale(1.1);
}

.infoPais {
    text-align: left;
    font-size: 14px;


}
.infoPais h3{
    text-align: center;
    font-size: 16px;


}
#listaPaises{ 
    height: 200px;
    overflow-y: auto; 
    border: 1px solid #000000;
    background-color: #ccc;
    padding: 5px; 
    margin-bottom: 10px;
}

#ResultadosComparacion {

    flex-direction: column; /* Alinea los países verticalmente */
    gap: 10px; /* Espacio entre cada país */
}

.pais-comparacion {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.pais-comparacion h3 {
    margin: 0;
    padding-bottom: 5px;
    color: #000000;
}

.pais-comparacion p {
    margin: 0;
    font-size: 14px;
}